<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-5 col-sm-7 mb-5">
                <div class="footer-title">Contacts</div>
                <ul class="footer-contacts">
                    <li>+254 725 105 792</li>
                    <li>contact@victormaina.com</li>
                    <li>
                        <a href="https://www.instagram.com/victormainak/">
                            <fa-icon class="mr-3" [icon]="['fab', 'instagram']"></fa-icon> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://web.facebook.com/VictorKinuthiaMaina/">
                            <fa-icon class="mr-3" [icon]="['fab', 'facebook-square']"></fa-icon> Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-5 mb-5">
                <div class="footer-title">Site Links</div>
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="">
                            About
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="copyright"></div>
</div>