<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-image: url('../../assets/tiktok.jpg'); background-size: cover; background-position: center;"></div>
        <div style="padding: 0 50px;" class="col-lg-6">
            <div class="project-title">Project Name</div>
            <div class="project-description mb-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Ultrices sagittis orci a scelerisque purus.
                Senectus et netus et malesuada fames. Tempus iaculis urna id volutpat. Massa tincidunt nunc pulvinar sapien et ligula
                ullamcorper malesuada.</p>
            </div>
            <div class="project-link">
                <a href="">
                    Visit Site <fa-icon icon="arrow-right" class="small ml-2"></fa-icon>
                </a>
            </div>
            <div class="project-tags">
                <div class="tag tag-pink">Tag name</div>
            </div>
        </div>
    </div>
</div>