<div class="container-fluid" *ngFor="let project of projects;"> 
    <div class="row">
        <div class="col-lg-6 project-image" style="background-image: url('../../assets/{{project.image_name}}');"></div>
        <div style="padding: 0 50px;" class="col-lg-6">
            <div class="project-title">{{project.title}}</div>
            <div class="project-description mb-4">
                <p>{{project.description}}</p>
            </div>
            <div class="project-link">
                <a href="{{project.link}}">
                    Visit Site <fa-icon icon="arrow-right" class="small ml-2"></fa-icon>
                </a>
            </div>
            <div class="project-tags">
                <div class="tag tag-pink float-left" *ngFor="let tag of project.tags">{{tag}}</div>
            </div>
        </div>
    </div>
</div>